/*formulaire*/
.formulaire {
    border: 2px grey solid;
    box-shadow: 10px 5px 5px darkgrey;
    border-radius: 1%;
    width: 400px;
    margin: auto;
    padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    display: block;
}

form > div > div {
    margin-bottom: 1rem;
}



.margin{
    margin-top: 70px;
    margin-bottom: 70px;
}




/*Nav*/
.flexDirection {
    display: flex;
    align-content: space-around;
    background: rgb(21,83,113);
    background: linear-gradient(90deg, rgba(21,83,113,0.8270658605238971) 0%, rgba(30,89,13,0.6727065826330532) 60%, rgba(128,221,32,0.8631827731092436) 100%);
}
ul {
    list-style-type: none;
}
nav {
    color: #F5F5F5;

}

a.nav-link {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;

}

.flexbox2 {
    margin-left: auto;
}

.flexbox1 {
    display: flex;
    align-content: space-between;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

/*footer*/
footer {
    color: #F5F5F5;
    display: block;
    width: 100%;
    bottom: 0px;
}

/*liste sortie*/
table {
    width: 100%;
}

td, th {
    border: 2px black solid;
    text-align: center;

}