{% extends 'base.html.twig' %}

{% block body %}

        <div class="margin formulaire">

                {{ form_start(sortieForm) }}
                <h1 class="h3 mb-3 font-weight-normal">Nouvelle Sortie</h1>

                {{ form_widget(sortieForm) }}

                <button class="btn btn-lg btn-primary" type="submit">Valider</button>

                {{ form_end(sortieForm) }}
                <a href="{{ path('list') }}"><button class="btn btn-lg btn-primary">Retour</button></a>

        </div>
{% endblock %}

{% block title %}

{% endblock %}

