{% extends 'base.html.twig' %}

{% block body %}


        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}



        <button class="btn btn-lg btn-primary">Valider</button>

        {{ form_end(sortieForm) }}



{% endblock %}

{% block title %}

{% endblock %}

