<div class="flexDirection flexBottom">
    <div class="flexbox1">
        <h3>Sortir.com</h3>
    </div>
    <div class="flexbox2">
        <ul>
            <li>Centre de formation en informatique</li>
            <li>Créé en 1980 à Nantes</li>
            <li>60 salariés</li>
            <li>3 campus physiques : Nantes, Rennes, Niort</li>
            <li>1000 stagiaires par an</li>
        </ul>
    </div>
</div>