<div class="flexDirection">
<div class="flexbox1">
<img class="img" src="{{ asset('img/1120x490_Campagne.jpg') }}">
    <h1>Nom de l'entreprise</h1>
</div>
<div class="flexbox2">
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active couleur" aria-current="page" href="{{ path('app_login') }}"title="login">Connectez-Vous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>
</div>
</div>